<li id="post-<%=post._id%>">
  <div class="detail">
    <p>
      <small>Posted by <%= post.user.name %></small><br />
      <% let createdAt = new Date(post.createdAt); let date =
      createdAt.toLocaleDateString(); let time = createdAt.toLocaleTimeString();
      %> <%= post.content %>
      <br /><small>Time:- <%= time %> Date:- <%= date %></small>

      <% /* Display delete button if the current user is the author */ %> <% if
      (locals.user && locals.user._id && post.user.id.toString() ===
      locals.user._id.toString()) { %>
      <small>
        <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">
          DELETE</a
        ></small
      >
      <% } %>
    </p>
  </div>
  <br />
  <div>
    <div class="post-comments">
      <% /* Add comment form if condition is met */ %> <% if (5 > 0) { %>
      <form action="/comments/create" method="post">
        <input
          type="text"
          name="content"
          placeholder="Type here to add comments.."
          required
        />
        <input type="hidden" name="post" value="<%= post._id %>" />
        <input type="submit" value="Add comments" />
      </form>
      <% } %>
    </div>

    <div class="post-comments-list">
      <ul id="post-comments">
        <% /* Iterate over comments for the current post */ %> <% for (let
        comment of post.comments) { %>
        <li>
          <p><%= comment.content %></p>
          <small>commented by: <%= comment.user.name %></small>

          <% /* Display delete button for comment if the current user is the
          author */ %> <% if (locals.user && comment.user._id.toString() ===
          locals.user._id.toString()) { %>
          <small
            ><a href="/comments/destroy/<%= comment.id %>"> DELETE</a></small
          >
          <% } %>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
  <br />
</li>
<br />
