<h1>Codial/<%=title %></h1>

<div>
  <ul>
    <% if (posts && posts.length > 0) { %> <%for(let i of posts){%>
    <li id="post">
      <div class="deatail">
        <small><p>Posted by <%=i.user.name%></p></small>
        <p><%= i.content%></p>
        <%const timestampString =i.createdAt.toString(); const timestampParts =
        timestampString.split(" "); const date = timestampParts.slice(0,
        4).join(" "); const time = timestampParts.slice(4, 5).join(":");%>
        <small><p>Time:-<%=time%> Date:-<%=date%></p></small>
      </div>
    </li>
    <%}%> <% } else{ %>
    <p id="no-post"><%= add %></p>
    <% } %>
  </ul>
</div>
