<section id="feed-post">
  <h4>Posts</h4>
  <form action="/posts/create" id="new-post-form" method="POST">
    <textarea
      name="content"
      id=""
      cols="30"
      rows="3"
      placeholder="Type here..."
      required
    ></textarea>
    <input type="submit" value="post" />
  </form>
</section>

<div>
  <ul>
<% if (locals.user) { %> 
    <% if (mypost && mypost.length > 0 && locals.user){ %> 
     <%for(let i of mypost){%>
        <li id="post">
        <div class="deatail">
        <p>Posted by <%= i.user.name %></p>
        <p><%= i.content%></p>
        <p>Time :<%= i.time%> Date :<%=i.date%></p>
      </div>
    </li>
    <%}%> 
    <% } else{ %>
        <p id="no-post">You havent Posted Yet</p>
        <% } %> 
<% } else{ %>
<p id="no-post"><%= add %></p>
<% } %>
  </ul>
</div>
